<header>
    <section class="hero">
        <h1>Luis Tieres</h1>
        <p>Backend Developer | Java, Python & TypeScript</p>
        <a href="https://github.com/seu-user" target="_blank">GitHub</a>
        <a href="https://www.linkedin.com/in/seu-user" target="_blank">LinkedIn</a>
    </section>

    <div class="lang-switch">
        <div class="lang-switch">
            <button class="flag flag-us" data-lang="en" aria-label="English"></button>
            <button class="flag flag-br" data-lang="pt" aria-label="Português"></button>
        </div>     
    </div>

</header>

<nav>
    <a href="#" onclick="loadPage_sobre('sobre'); return false;">Sobre</a>
    <a href="#" onclick="loadPage('formacao'); return false;">Formação</a>
    <a href="#" onclick="loadPage('experiencia'); return false;">Experiência</a>
    <a href="#" onclick="loadPage('projetos'); return false;">Projetos</a>
    <a href="#" onclick="loadPage('network'); return false;">Network</a>
    <a href="#" onclick="loadPage('skills'); return false;">Skills</a>
    <a href="#" onclick="loadPage('others'); return false;">Others</a>
    <a href="#" onclick="loadPage('contato'); return false;">Contato</a>
</nav>