<header>
    <section class="hero">
        <h1>Luis Tieres</h1>
        <p ata-i18n="summaryluis" >Backend Developer | Java, Python & TypeScript</p>
        <div class="social-links">
            <a href="https://github.com/LuisTieres" target="_blank">GitHub</a>
            <a href="https://www.linkedin.com/in/luis-filipe-tieres-da-silva-16026019b" target="_blank">LinkedIn</a>
            <a href="mailto:luistieres@gmail.com">luistieres@gmail.com</a>
       </div>
    </section>

    <div class="lang-switch2">
        <div class="lang-switch">
            <button onclick="setLanguage('en')" class="flag flag-us"></button>
            <button onclick="setLanguage('pt')" class="flag flag-br"></button>
        </div>    
       <button class="mutar_btn">🔊</button>
    </div>

</header>

<nav>
    <a href="#" onclick="setActive(this); loadPage_sobre('sobre'); return false;">Home</a>
    <a href="#" onclick="setActive(this); loadPage('formacao'); return false;">Education</a>
    <a href="#" onclick="setActive(this); loadPage('experiencia'); return false;">Experience</a>
    <a href="#" onclick="setActive(this); loadPage('projetos'); return false;">Projects</a>
    <a href="#" onclick="setActive(this); loadPage('network'); return false;">Network</a>
    <a href="#" onclick="setActive(this); loadPage('skills'); return false;">Skills</a>
    <a href="#" onclick="setActive(this); loadPage('others'); return false;">Others</a>
</nav>